
<html>
<head>
	<meta charset="UTF-8">
	<title>Biblioteca</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/sha1/sha1.pack.js"></script>
	<script> 
		function encriptar() {
			var input_clave = document.getElementById("xclave");
			input_clave.value=sha1(input_clave.value);
		};
	</script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<LINK href="css/estilo2.css" type="text/css" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/estilitos5.css">
	
	<script type="text/javascript">
		function openVentana(){
			$(".ventana1").slideDown(1000);
		}
		function openVentana2(){
			$(".ventana2").slideDown(1000);
		}
		function closeVentana(){
			$(".ventana1").slideUp(1000);
		}
		function closeVentana2(){
			$(".ventana2").slideUp(1000);
		}
	</script>
	
</head>
<body>
		<table width="100%" id="supder">
			<tr>
				<td align="center" height="100px">
					<img alt="menu" style="vertical-align: middle; width: 100%; height: 100%;" src="images/grey_book.png"/>
				</td>
				<td align="center">
					<h1 id="titulo"><b>. : : B I B L I O T E C A ____B R E A K : : .</b></h1>
					<br>
					<div class="fecha">
                    <script type="text/javascript">
                    var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                    var diasSemana = new Array ("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
                    var f = new Date();
                    document.write(diasSemana[f.getDay()]+", "+f.getDate()+" de "+meses[f.getMonth()]+" de "+f.getFullYear());
                    
                    </script>
                </div>
				</td>
				<td align="right" width="275px">
				<table width="100%" id="supder">
				<tr>
				<td align="left">
					<p>${usuario.nombre} ${usuario.ap} ${usuario.am}</p>
				
                <select name="menu_sel" id="xrol">
                                <option value="1" selected="select">Administrativo</option>
                                #foreach($rol in $xroles)
                                    <option value="${rol.codr}" class="menulateral">${rol.nombre}</option>
                                #end
                            	</select>
				
				</td>
				<td width="20%">	
					<a href="javascript:openVentana();"><img alt="menu" style="vertical-align: middle; width: 60px; height: 60px;" src="uploads/${usuario.foto}"/></a>
				</td>
				
				</tr>
				</table>
				</td>
			</tr>
		</table>
		<div id="barra-lateral">
		#foreach($reg in $xmenus)
			<div class="contenedor-logos" id="celda">
				<div id="grupo">
				<p class="icon-menu"><span>${reg.nombre}</span></p>
				</div>
				#foreach($op in $xopciones)
      
    		  #if(${reg.codm}==${op.codm})
				<div class="contenedor"id="sub">
				<p id="op" class="icon-triangle-right"><a href='${op.enlace}'><span>${op.nombre}</span></a></p>
				</div>
				#end
				#end
			</div>
			#end
		</div>
		
		
		<div id="body" height="100%">
		<br><br><br><br>	
		<center>
		<body>
		<h1>****  ${xtexto}   ****</h1>
		<A href="prestamos.html" id="textomensaje"><h3>Volver A La Lista</h3></A>			
		</body>
		</center>
				
		</div>
		
		
			<div class="ventana1" align="center">
					<table id="t1">
					<tr>
						<td align="center"><img alt="menu" style="vertical-align: middle; width: 100px; height: 100px;" src="uploads/${usuario.foto}"/></td>
						<td> ${usuario.nombre} ${usuario.ap} ${usuario.am} </td>
					</tr>
				
					<tr>
						<td align="center"><br><a href="Cerrar.html"><input type="submit" value="Salir"></a></td>
						
						<td align="center"><br><div class="cerrar"><a href="javascript:closeVentana();"><input type="submit" value="Cerrar"></a></div></td>
					</tr>
				</table>
				</div>
		
		<div class="ventana2" align="center">
		
		<h1>Login</h1>
		<form action="valida.html" method="get">
			<input type="text" name="xlogin" placeholder="Login.."/>
			<input type="password" name="xclave" id="xclave" placeholder="Password.."/>
			<input type="submit" name="boton" value="Ingresar" onclick="encriptar()"/>
			<a href="javascript:closeVentana2();">Cancelar</a>
		</form>
		</div>
		
		<iframe name="iframe1" id="iframe1"></iframe>

		
		
</body>
</html>